[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=mikle
Group=mikle

WorkingDirectory=/home/mikle/main.py/
Environment="PYTHONPATH=/home/mikle/main.py/"
ExecStart=/home/mikle/main/.venv/bin/python /home/mikle/tele_bot/ubuntu18/main.py

[Install]
WantedBy=multi-user.target
